{% extends "base.html" %}
{% load staticfiles %}

{% block title %} Login {% endblock %}

{% block content %}

    <div class="row text-center vertical-middle-sm">
        <h1>Login</h1>
        <p>Input your username and password</p>
        <form class="form-horizontal" action="{% url 'account:user_login' %}" method="post">{% csrf_token %}
        {# action="."代表的是当前地址==>当前模板的视图函数所对应的URL #}
{#            {{ form.as_p }}#}
            <div class="form-group">
                <label for="{{ form.username.id_for_lable }}" class="col-md-5 control-label" style="color: red">
                    <span class="glyphicon glyphicon-user"></span>
                    Username
                </label>
                <div class="col-md-6 text-left">{{ form.username }}</div>
            </div>
            <div class="form-group">
                <label for="{{ form.password.id_for_lable }}" class="col-md-5 control-label" style="color: blue">
                    <span class="glyphicon glyphicon-floppy-open"></span>
                    Password
                </label>
                <div class="col-md-6 text-left">{{ form.password }}</div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="Login">
        </form>
    </div>

{% endblock %}